<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="icon" type="icon" href="Principal/favicon-16x16.png">
  <title>Document</title>
</head>

<body>
  <!----------------------------------------------------INICIO BARRA DE NAVEGAÇÃO-------------------------------------------------------->
  <header role="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark mb-5" style="background-color: #0a1121;">
      <div class="container">
        <a class="navbar-brand" href="http://localhost:8080/home"><img style="width: 90px;"
            src="/Principal/img logo/logop.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:8080/home">Principal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/destino">Destino</a>
            </li>
            <li class="nav-item">
              <a class="nav-link promocoes " href="http://localhost:8080/promocao">Promoções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link contato " href="http://localhost:8080/contato">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/login">Login</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Procure sua viajem" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Pesquisar</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <!-------------------------------------------FIM DA BARRA DE NAVEGAÇÃO--------------------------------------------------------------->
  <!-------------------------------------------INICIO CONTEUDO PRINCIPAL------------------------------------------------------------------->
  <main style="background-color:#fff ;" role="main">
    <section>
    <div class="container">
      <div class="mt-5">
        <h2>Contatos</h2>
        <div class="mb-3" style="display:flex;">
          <div>
            <form action="#" style="display:flex;flex-direction: column; width: 170%;">
              <label class="mb-2" for="pnome"></label>
              <input class="mb-2" type="text" id="pnome" name="pnome" placeholder="Digite seu email">
              <textarea class="mb-2" name="pnome" id="pnome" cols="30" rows="5"
                placeholder="Fale com a gente e tire suas dúvidas"></textarea>
              <input type="submit" value="Enviar">
            </form>
          </div>
          <div style="display:flex; align-items: center; margin-left:450px;">
            <img style="height: 40px;" src="/contato/whatsapp.png" alt=" imagem whatsapp">
            <p>(21) 9999-2222</p>
          </div>
        </div>
        <hr>
        <div class="mt-5" style="margin-bottom: 146px">
          <h3> Tripcall viagens e turismo LTDA.</h3>
          <p>CNPJ 00.000.000/0000-00<br>
            Rua dos Aimorés, 1017 - Centro <br>
            CEP: 20140-071,Rio de Janeiro/RJ</p>
        </div>
      </div>
    </div>
  </section>
  </main>
  <!-------------------------------------------------------FIM DO CONTEUDO PRINCIPAL------------------------------------------------------->
  <!------------------------------------------------------------INICIO RODAPÉ--------------------------------------------------------------->
  <footer>
    <div class="container-fuid mt-5"
      style="display: flex; background-color:#0a1121; padding-top:5px; justify-content: space-around;">
      <hr>
      <p class="text-light"> Direitos autorais Tripcall © 2022 Todos os direitos reservados.</p>
      <div>
        <img style="height:25px ;" src="/Principal/imgfooter/facebook-icon.png" alt="Icon facebook ">
        <img style="height:25px ;" src="/Principal/imgfooter/icon-Instagram-branca.png" alt="Icon Instagram ">
        <img style="height:25px ;" src="/Principal/imgfooter/Logo_Twitter_branco.png" alt="Icon ">
      </div>
    </div>
  </footer>
  <!------------------------------------------------------------FIM RODAPÉ--------------------------------------------------------------->
  <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>