<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="icon" type="icon" href="Principal/favicon-16x16.png">
  <title>Promoções</title>
</head>

<body>
  <!----------------------------------------------------INICIO BARRA DE NAVEGAÇÃO-------------------------------------------------------->

  <header role="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #0a1121;">
      <div class="container">
        <a class="navbar-brand" href="http://localhost:8080/home"><img style="width: 90px;"
            src="/Principal/img logo/logop.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:8080/home">Principal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/destino">Destino</a>
            </li>
            <li class="nav-item">
              <a class="nav-link promocoes " href="http://localhost:8080/promocao">Promoções</a>
            </li>
            <li class="nav-item">
              <a class="nav-link contato " href="http://localhost:8080/contato">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8080/login">Login</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Procure sua viajem" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Pesquisar</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <!-------------------------------------------FIM DA BARRA DE NAVEGAÇÃO--------------------------------------------------------------->

  <!-------------------------------------------INICIO CONTEUDO PRINCIPAL------------------------------------------------------------------->
  <main style="background-color:#fff ;" role="main">
    <div class="container">
      <!------------------------------------------------INICIO BOTÕES DE BUSCA--------------------------------------------------------------------->
      <div style="display:flex; flex-wrap:wrap;">
        <div class="btn-group" role="group" style="margin-right:5px;">
          <button type="button" class="btn dropdown-toggle text-dark" data-bs-toggle="dropdown"
            aria-expanded="false">Destinos</button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="#">Rio de janeiro</a></li>
            <li><a class="dropdown-item" href="#">Estados Unidos</a></li>
            <li>
            <li><a class="dropdown-item" href="#">Fortaleza</a></li>
            <li><a class="dropdown-item" href="#">Amsterdã</a></li>
            <li><a class="dropdown-item" href="#">Italia</a></li>
            <li><a class="dropdown-item" href="#">Peru</a></li>
            <li><a class="dropdown-item" href="#">França</a></li>
          </ul>
        </div>
        <div style="margin-right:5px;"><a href="#"><button type="button" class="btn text-dark">Hoteis</button></a></div>
        <div style="margin-right:5px;"><a href="#"><button type="button" class="btn text-dark">Restaurantes</button></a>
        </div>
        <div style="margin-right:5px;"><a href="#"><button type="button" class="btn text-dark">Pousadas</button></a>
        </div>
        <div style="margin-right:5px;"><a href="#"><button type="button" class="btn text-dark">Forums de
              viagem</button></a></div>
        <div style="margin-right:5px;"><a href="#"><button type="button" class="btn text-dark">Aluguéis de
              Temporada</button></a></div>
      </div>
    
      <!------------------------------------------------FIM BOTÕES DE BUSCA------------------------------------------------------------------>
      <!------------------------------------------------INICIO CARDS------------------------------------------------------------------>
      <hr>
      <section>
      <h2>Pacotes e Promoções 🌍 </h2>
      <div class="mt-5">
        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/promocoes/pacotes/egito cairo.jpg" class="img-fluid rounded-start" style="height:310px;"
                alt="imagem egito">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title mt-4" style="margin-left:20px;">Egito-Cairo</h2>
                <div style="display:flex; margin-left:20px ;">
                  <p class="card-text" style="margin-right:40px;"> Viaje entre <br> <strong>Mar/24 e
                      Nov/24</strong><br> <small><i>9
                        diárias</i></small> <br> <small style="color:rgb(25, 120, 25);">Cancelamento grátis!</small>
                  </p>
                  <p>a partir de <s>R$3124</s> <strong style="color:#fff; background-color:rgb(255, 77, 0);"> -20%
                    </strong><br> <small style="color:rgb(255, 77, 0); ;">R$</small> <strong
                      style="color:rgb(255, 77, 0);font-size: 30px;">3499</strong> <br> <small>+ taxas, em até 12x no
                      cartão</small></p>
                </div>
                <button type="button" class="btn btn-primary" style="width:100% ;">Escolher pacote</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/promocoes/pacotes/disney orlando.jpg" class="img-fluid rounded-start" style="height:300px;"
                alt="imagem disney">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title mt-4" style="margin-left:20px;">Disney-Orlando</h2>
                <div style="display:flex; margin-left:20px ;">
                  <p class="card-text" style="margin-right:40px;"> Viaje entre <br> <strong>Mar/24 e
                      Nov/24</strong><br> <small><i>9
                        diárias</i></small> <br> <small style="color:rgb(25, 120, 25);">Cancelamento grátis!</small>
                  </p>
                  <p>a partir de <s>R$3124</s> <strong style="color:#fff; background-color:rgb(255, 77, 0);"> -20%
                    </strong><br> <small style="color:rgb(255, 77, 0);">R$</small> <strong
                      style="color:rgb(255, 77, 0);font-size: 30px;">2499</strong> <br> <small>+ taxas, em até 12x no
                      cartão</small></p>
                </div>
                <button type="button" class="btn btn-primary" style="width:100% ;">Escolher pacote</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/promocoes/pacotes/londres.jpg" class="img-fluid rounded-start" style="height:300px;" alt="Imagem londres">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title mt-4" style="margin-left:20px;">Londres-Inglaterra</h2>
                <div style="display:flex; margin-left:20px ;">
                  <p class="card-text" style="margin-right:40px;"> Viaje entre <br> <strong>Mar/24 e
                      Nov/24</strong><br> <small><i>9
                        diárias</i></small> <br> <small style="color:rgb(25, 120, 25);">Cancelamento grátis!</small>
                  </p>
                  <p>a partir de <s>R$3124</s> <strong style="color:#fff; background-color:rgb(255, 77, 0);"> -20%
                    </strong><br> <small style="color:rgb(255, 77, 0); ;">R$</small> <strong
                      style="color:rgb(255, 77, 0);font-size: 30px;">2499</strong> <br> <small>+ taxas, em até 12x no
                      cartão</small></p>
                </div>
                <button type="button" class="btn btn-primary" style="width:100% ;">Escolher pacote</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/promocoes/pacotes/Monaco.jpg" class="img-fluid rounded-start" style="height:310px;" alt="imagem monaco">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title mt-4" style="margin-left:20px;">Monaco-França</h2>
                <div style="display:flex; margin-left:20px ;">
                  <p class="card-text" style="margin-right:40px;"> Viaje entre <br> <strong>Mar/20 e
                      Dez/24</strong><br> <small><i>9
                        diárias</i></small> <br> <small style="color:rgb(25, 120, 25);">Cancelamento grátis!</small>
                  </p>
                  <p>a partir de <s>R$3124</s> <strong style="color:#fff; background-color:rgb(255, 77, 0);"> -20%
                    </strong><br> <small style="color:rgb(255, 77, 0); ;">R$</small> <strong
                      style="color:rgb(255, 77, 0);font-size: 30px;">2800</strong> <br> <small>+ taxas, em até 12x no
                      cartão</small></p>
                </div>
                <button type="button" class="btn btn-primary" style="width:100% ;">Escolher pacote</button>
              </div>
            </div>
          </div>
        </div>
        <!------------------------------------------------FIM CARDS------------------------------------------------------------------>
      </div>
    </div>
  </section>
  </main>
  <!-------------------------------------------------------FIM DO CONTEUDO PRINCIPAL------------------------------------------------------->

  <!------------------------------------------------------------INICIO RODAPÉ--------------------------------------------------------------->

  <footer>
    <section>
    <div class="container-fuid mt-5"
      style="display: flex; background-color:#0a1121; padding-top:5px; justify-content: space-around;">
      <hr>
      <p class="text-light"> Direitos autorais Tripcall © 2022 Todos os direitos reservados.</p>
      <div>
        <img style="height:25px ;" src="/Principal/imgfooter/facebook-icon.png" alt="Icon facebook ">
        <img style="height:25px ;" src="/Principal/imgfooter/icon-Instagram-branca.png" alt="Icon Instagram ">
        <img style="height:25px ;" src="/Principal/imgfooter/Logo_Twitter_branco.png" alt="Icon ">
      </div>
    </div>
  </section>
  </footer>

  <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>